hack_project/apis/poi/  @Eladk01 @hacker-one-1 @mohazure01 
hack_project/apis/trips/  @Eladk01 @hacker-one-1 @mohazure01 
hack_project/apis/user-java/  @Eladk01 @hacker-one-1 @mohazure01 
hack_project/apis/userprofile/  @Eladk01 @hacker-one-1 @mohazure01 
