name: POI Test
on: 
  pull_request:
    paths:    
        # Push events to branches matching refs/heads/mona/octocat
      - '**/poi/**'
jobs:
  build:

    runs-on: ubuntu-latest

  
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '2.1.x'
    - name: Install dependencies
      working-directory: ./apis/poi/
      run: dotnet restore
    - name: Build
      run: dotnet build
      working-directory: ./apis/poi/
    - name: Test with the dotnet CLI
      working-directory: ./apis/poi/tests/UnitTest/
      run: dotnet test
      
    - name: The job has failed
      uses: stefanstranger/azuredevops-bug-action@1.1
      if: failure()
      with:
       OrganizationName: "stefanstranger"
       PAT: "l66pwbvjwpjpfhlwfmb5zf77qodtyeqee2w7wir4zdxbquh6ge3a"
       ProjectName: "Contoso"
       AreaPath: "Contoso\\Automation"
       IterationPath: "Contoso"
       GithubToken: "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"
       WorkflowFileName: "error.yml"
      env:
       PAT: ${{ secrets.PAT}}
       GithubToken: ${{ secrets.githubtoken}}
