name: POI Test
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

  
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Install dependencies
      working-directory: ./apis/poi/
      run: dotnet restore
    - name: Build
      run: dotnet build
      working-directory: ./apis/poi/
    - name: Test with the dotnet CLI
      run: dotnet test /apis/poi/tests/UnitTests/UnitTests.csproj
